<%- include('head') -%>
<body class="post-body">
  <%- include('sidebar') -%>
  <%- include('topnav') -%>
  <main>
    <div class="post-postContainer">
        <h2><%= post.title %></h2>
        <div class="image-container">
          <img src="<%= post.image%>" tabindex="0" />
          <div class="post-caption">
            <p>Caption: <%= post.caption %></p>
          </div>
        </div>
        <div class="post-postInteractivity">
          <form
            action="/post/likePost/<%= post.id %>?_method=PUT"
            method="POST"
          >
            <button type="submit"><i class="fa-solid fa-thumbs-up"></i></button>
          </form>
          <h3>Likes: <%= post.likes %></h3>
          <%if(post.user == user.id){ %>
          <form
            action="/post/deletePost/<%= post.id %>?_method=DELETE"
            method="POST"
          >
            <button type="submit"><i id='bin' class="fa-solid fa-trash"></i></button>
          </form>
          <%}%>
        </div>
        <div class="post-comments">
          <h2>Add a comment</h2>
          <form action="/comment/createComment/<%=post._id%>" method="POST">
            <div>
                <!-- <label for="comment" class="form-label">Comment</label> -->
                <input type="text" class="form-control" id="comment" name="comment">
            </div>
            <button type="submit">Submit</button>
          </form>
        </div>
        <ul class="comments">
          <% for(var i=0; i<comments.length; i++) {%>
            <li>
              <%= comments[i].comment%>
            </li>
          <% } %>
        </ul>
   </div>
  </main>
  <script src="/js/main.js"></script>  
</body>


