<%- include('header') -%>
<!-- <%- include('sidebar') -%> -->
<body class="profile-body">
  <section class="profile">

    <section class="profile-info">

      <div class="profile-profilePic">
        <img src="<%=user.profilePicture%>" alt="<%=user.username%> profile picture">
        <form action="/user/uploadProfilePic/<%=user._id%>?_method=PUT" enctype="multipart/form-data" method="POST">
            <label for="imgUpload" class="form-label">Upload Profile Picture</label>
            <input type="file" class="form-control" id="imageUpload" name="file">
          <button type="submit" class="submit" value="Upload">Submit</button>
        </form>
      </div>

      <p><strong>User Name</strong>:<%= user.userName %></p>

      <div class="profile-bio">
        <p class="bio"><%= user.bio %></p>
        
        <form action="/user/createBio/<%=user._id%>?_method=PUT" method="POST">
            <label for="bio" class="form-label">Change profile bio</label>
            <input type="text" class="form-control" id="bio" name="bio">
          <button type="submit" class="submit">Submit</button>
        </form>        

      </div>

      <span>Posts made: </span>
      <span>Rank: conditional here, 1-2 posts is beginner explorer, 3-5 novice, 6-8 advanced, 8-10 expert</span>
      <a href="/logout" class="col-3 btn btn-primary">Logout</a>
    </section>

    <section class="profile-posts">
      <div class="profile-posts-feed">
        <ul class="post-feed-list">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="feed-list-item">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-item" src="<%= posts[i].image%>">
            </a>
            <span><%= posts[i].caption%></span>
          </li>
        <% } %>
        </ul>
      </div>  
          <div class="profile-addPost">
                <h2>Add a post</h2>
                <form action="/post/createPost" enctype="multipart/form-data" method="POST">
                  <div class="addPost-info">
                    <div class="addPost-info-title">
                        <input type="text" class="form-control" id="title" name="title" placeholder="title">
                    </div>
                      <div class="addPost-info-caption">
                        <textarea class="form-control" id="caption" name="caption" placeholder="add a caption to your post"></textarea>
                      </div>
                  </div>
                  <div class="addPost-image">
                    <label for="imgUpload" class="form-label">Upload Image</label>
                    <input type="file" class="form-control" id="imageUpload" name="file">
                  </div>
                  <button type="submit" class="profile-addPost-submit" value="Upload">Submit</button>
                </form>
          </div>
      </section>
  </section>
</body>
<!-- <%- include('footer') -%> -->